body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: white;
}

.menu {
    width: 800px;
    margin: 0 auto;
    border: 2px solid #CCCCCC;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

    .menu img {
        margin-bottom: 60px;
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #cca64c;
    margin-bottom: 20px;
    text-transform: uppercase;
}   


.item {
    font-family: Nexa Script;
    font-size: 30px;
    color: #000000;
    text-align: right; /* Align the item names to the right */
}

    .item span:last-child {
        text-align: right; /* Align the item prices to the right */
    }

.center {
    text-align: center;
}

.button-toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

    .button-toolbar button {
        background-color: #cca64c;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        border: none;
        padding: 15px 30px;
        margin-right: 10px;
        text-align: center; /* Add text-align property */
    }

.section-title {
    font-weight: bold;
    font-size: 40px;
    color: #cca64c;
    margin-top: 50px;
  
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 10px;
    margin-left: 100px;
}

    .item span {
        color: #cca64c;
        margin-left: auto;
        margin: 0;
    }

        .item span.item-name {
            font-weight: bold;
        }

        .item span.item-price {
            float: right;
        }

.contact-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cca64c;
    padding: 20px;

}

.contact-info {
    text-align: center;
}

.contact-button {
    display: inline-block;
    margin-right: 10px;
    padding: 15px 30px;
    font-size: 35px;
    color: #fff;

    background-color: #cca64c;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .contact-button:hover {
        background-color: #555;
        cursor: pointer;
    }

.contact-info p {
    font-size: 30px;
    color: #666;
    margin-top: 5px;
}

    .contact-info p i {
        margin-right: 5px;
    }
